<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="{{path('app_main')}}" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">{{company_name}}</span>
            </a>
            <div class="nav_list">
                {# <a href="#" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Tableau de bord</span>
                </a> #}
                <a href="{{path('app_admin_trainings')}}" class="nav_link 
                    {% if app.current_route == 'app_admin_trainings'%}active{% endif %}
                    ">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Formations</span>
                </a>
                <a href="{{path('app_admin_programs')}}"
                    class="nav_link {% if app.current_route == 'app_admin_programs'%}active{% endif %}">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">Programmes <br> Annuels</span>
                </a>
                <a href="{{path('app_admin_newsletter')}}"
                    class="nav_link {% if app.current_route == 'app_admin_newsletter'%}active{% endif %}">
                    <i class='bx bx-bookmark nav_icon'></i>
                    <span class="nav_name">Newsletter</span>
                </a>
                {# <a href="#" class="nav_link">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Membres</span>
                </a> #}
                {# <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Stats</span>
                </a> #}
            </div>
        </div>
        <a href="{{path('app_logout')}}" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Déconnexion</span>
        </a>
    </nav>
</div>