<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3> {{company_name}} <span>.</span></h3>
                    <p>
                        <strong>Adresse :</strong> Cotonou, BENIN
                        <br />
                        <strong>Téléphone :</strong> +229 96 38 05 84
                        <br />
                        <strong>Email :</strong> contact@adesofttech.com
                        <br />
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens Utiles</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main')}}">Acceuil</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_about')}}">A propos</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_services')}}">Services</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_login')}}">Espace Membre</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos Services</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_services')}}">Informatiques</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_services')}}">Etudes et gestion de projet</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_services')}}">Entrepreneuriat</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_services')}}">Marketing Digital</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="{{path('app_main_services')}}">Communication</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Abonnez vous à notre Newsletter</h4>
                    <p>
                        Pour vous tenir informé des Offres de formations et des
                        Arrivages.
                    </p>
                    <form action="{{path('app_newsletter')}}" method="post">
                        <input type="email" name="email" placeholder="Entrez votre Mail"
                            class="form-control shadow-none" /><input type="submit" value="Souscrire" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Adesoft Technologies</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Réalisé par <a href="https://rostand-migan.com" target="_blank">Rost Digital Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>