{% extends 'admin.html.twig' %}

{% block body %}
<!--Container Main start-->
<div class="container-fluid mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Formation</th>
                        <th>Détails</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Titre : </strong> {{training.name}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"
                                    data-toggle="popover" title="Description" style="cursor: pointer;"
                                    data-bs-content="{% if training.description == null %}Vide{% else %}{{training.description}}{% endif %}">
                                    <path fill="currentColor"
                                        d="m8.93 6.588l-2.29.287l-.082.38l.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319c.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246c-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0a1 1 0 0 1 2 0" />
                                </svg>
                                <br>
                                <strong>Pass :</strong> <a href="#" class="fw-bolder text-danger">
                                    {% if training.pass == 0 %}
                                    Gratuit
                                    {% else %}
                                    {{training.pass | format_currency('XOF')}}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <strong>Période : </strong>
                                <span>
                                    {{training.getStartAt | date("d F Y")}}
                                    {% if training.getEndAt %}
                                    au {{training.getEndAt | date("d F Y")}}
                                    {% endif %}

                                </span>
                                <br>
                                <strong>Lieu : </strong>
                                <span>
                                    {{training.getLocation}}
                                </span>
                            </td>
                            <td class="align-middle d-flex flex-column">
                                <a href="#" class="text-danger" title="Découvrez la liste des participants">
                                    <i class="bx bx-user"></i>
                                </a>
                                <a href="{{path('app_admin_trainings_edit', {id: training.id})}}" class="text-danger"
                                    title="Modifiez cette formation">
                                    <i class="bx bx-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-10">
            <h4>Liste des participants</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Inscription</th>
                    </thead>
                    <tbody>
                        {% if participants | length == 0 %}
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-secondary">Aucun participant Enregistré</div>
                            </td>
                        </tr>
                        {% endif %}

                        {% for participant in participants %}
                        <tr>
                            <td>
                                #{{loop.index}}
                            </td>
                            <td>
                                {{participant.name}}
                            </td>
                            <td>
                                {{participant.email}} | {{participant.tel}}
                            </td>
                            <td class="align-middle d-flex flex-column">
                                {{participant.registeredAt | date('j F Y')}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}