{% extends 'admin.html.twig' %}

{% block body %}
<!--Container Main start-->
<div class="container-fluid mt-5 pt-4">
    <div class="row">
        <div class="col-lg-4">
            <h4>Ajoutez une formation</h4>
            <hr>
            <div>
                {% if form_errors(trainingForm) %}
                <div class="alert alert-danger">
                    {{form_errors(trainingForm)}}
                </div>
                {% endif %}

                {{form_start(trainingForm)}}
                {{form_end(trainingForm)}}
            </div>
        </div>
        <div class="col-lg-8">
            <h4>Liste des Formations</h4>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Formation</th>
                        <th>Détails</th>
                    </thead>
                    <tbody>
                        {% if trainings | length == 0 %}
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-secondary">
                                    Aucune Formation
                                </div>
                            </td>
                        </tr>
                        {% endif %}

                        {% for training in trainings %}
                        <tr>
                            <td class="fw-bold align-middle">#{{loop.index}} </td>
                            <td>
                                <strong>Titre : </strong> {{training.name}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"
                                    data-toggle="popover" title="Description" style="cursor: pointer;"
                                    data-bs-content="{% if training.description == null %}Vide{% else %}{{training.description}}{% endif %}">
                                    <path fill="currentColor"
                                        d="m8.93 6.588l-2.29.287l-.082.38l.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319c.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246c-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0a1 1 0 0 1 2 0" />
                                </svg>
                                <br>
                                <strong>Pass :</strong> <a href="#" class="fw-bolder text-danger">
                                    {% if training.pass == 0 %}
                                    Gratuit
                                    {% else %}
                                    {{training.pass | format_currency('XOF')}}
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <strong>Période : </strong>
                                <span>
                                    {{training.getStartAt | date("d F Y")}}
                                    {% if training.getEndAt %}
                                    au {{training.getEndAt | date("d F Y")}}
                                    {% endif %}

                                </span>
                                <br>
                                <strong>Lieu : </strong>
                                <span>
                                    {{training.getLocation}}
                                </span>
                            </td>
                            <td class="align-middle d-flex flex-column">
                                <a href="#" class="text-danger" title="Découvrez la liste des participants">
                                    <i class="bx bx-user"></i>
                                </a>
                                <a href="{{path('app_admin_trainings_edit', {id: training.id})}}" class="text-danger"
                                    title="Modifiez cette formation">
                                    <i class="bx bx-edit"></i>
                                </a>
                                <a data-href="{{path('app_admin_trainings_delete', {id: training.id})}}"
                                    style="cursor: pointer;" class="text-danger" title="Supprimez cette formation"
                                    data-token="{{csrf_token('delete' ~ training.id)}}" onclick="deleteTraining(this)">
                                    <i class=" bx bx-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    function deleteTraining(e) {
        console.log(e);
        if (confirm("Voulez-vous supprimez cette formation ? ")) {
            fetch(e.getAttribute("data-href"), {
                method: "DELETE",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    _token: e.dataset.token,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        alert("Formation supprimée avec succès");
                        location.reload();
                    } else {
                        alert(data.error);
                    }
                });

        }
    }
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}