<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{{company_name}}{% endblock %}</title>
    <meta
        content="Fourniture de Matériels et Consommables informatiques ; Formations et renforcement de capacité en gestion des services informatiques, projets informatiques, sécurité des systèmes d'information ; Audit et élaboration de manuels de procédures informatiques ; Réalisation de schéma directeur informatique ; Conception et mise en place de systèmes informatiques de gestion ; Graphisme, création de site web et initiation informatique ; Études de marché, d'impact, de faisabilité et de référence ; Suivi et évaluation de projets/programmes de développement ; Élaboration de budget et suivi budgétaire ; Diagnostic, business plan et accompagnement au financement des PME/PMI ; Formations en gestion ; Conception et conduite de projets de communication ; Communication média, hors-média, éditorialiste et web ; Réalisation télévisuelle et assistance à la production cinématographique ; Conseil en négociations et communication d'entreprise ; Production de séries audiovisuelles ; Rapport d'activité."
        name="keywords">
    <meta content="Votre partenaire en solutions & innovations technologiques, formation assistance coaching."
        name="description">
    <!-- Meta pour les réseaux sociaux -->
    <meta property="og:title" content="{% block seoTitle %}{{company_name}}{% endblock %}">
    <meta property="og:description"
        content="Votre partenaire en solutions & innovations technologiques, formation assistance coaching.">
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/hero-bg.webp')) }}">
    <meta property="og:url" content="{{absolute_url(path(app.current_route))}}">
    <meta name="twitter:title" content="{% block seoTitle2 %}{{company_name}}{% endblock %}">
    <meta name="twitter:description"
        content="Votre partenaire en solutions & innovations technologiques, formation assistance coaching.">
    <meta name="twitter:image" content="{{ absolute_url(asset('assets/images/hero-bg.webp')) }}">
    <meta name="author" content="Rostand MIGAN (Rost Digital Services)">

    <!-- Favicons -->
    <link href="{{asset('assets/img/asbrand.png')}}" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{asset('assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    <!-- Vendor JS Files -->
    <script src="{{asset('assets/vendor/aos/aos.js')}}" defer></script>
    <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}" defer></script>
    <script src="{{asset('assets/vendor/glightbox/js/glightbox.min.js')}}" defer></script>
    <script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}" defer></script>
    <script src="{{asset('assets/vendor/purecounter/purecounter.js')}}" defer></script>
    <script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}" defer></script>

    <!-- Template Main JS File -->
    <script src="{{asset('assets/js/main.js')}}" defer></script>
    <script src="{{asset('assets/js/programs.js')}}" defer></script>
    {% block javascripts %}
    {% endblock %}
</head>

<body>
    {% include "_partials/_nav.html.twig" %}
    {% block body %}{% endblock %}
    {% include "_partials/_flash.html.twig" %}
    {% include "_partials/_footer.html.twig" %}
</body>

</html>