{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{{path('app_main')}}">Accueil</a></li>
                <li>Formations</li>
            </ol>
            <h2>Liste des formations</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Formations disponibles</h2>
                <p></p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                {% for training in trainings %}
                <div class="col-md-6">
                    <div class="portfolio-details mt-4">
                        <div class="portfolio-info">
                            <h3>{{training.name}}</h3>
                            <p>
                                {{training.description}}
                            </p>
                            <ul>
                                <li><strong>Lieu de Formation</strong>: {{training.location}}</li>
                                <li><strong>Période de formation</strong>:
                                    {{training.getStartAt | date("d F Y")}}
                                    {% if training.getEndAt %}
                                    au {{training.getEndAt | date("d F Y")}}
                                    {% endif %}
                                </li>
                                <li><strong>Pass</strong>: <a href="#" class="fw-bolder">
                                        {% if training.pass == 0 %}
                                        Gratuit
                                        {% else %}
                                        {{training.pass | format_currency('XOF')}}
                                        {% endif %}
                                    </a></li>
                            </ul>
                            {% set currentDate = "now"|date("Y-m-d H:i:s") %}
                            {% set trainingStartAtFormatted = training.getStartAt|date("Y-m-d H:i:s") %}

                            {% if trainingStartAtFormatted > currentDate %}
                            <a href="{{ path('app_training_request', { id: training.id }) }}"
                                class="get-started-btn ms-0">
                                Participez
                            </a>
                            {% elseif trainingStartAtFormatted <= currentDate %} <a href="#"
                                class="btn btn-warning ms-0">
                                Clôturé
                                </a>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}