{% extends 'base.html.twig' %}

{% block title %}S'inscrire à une formation{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{{path('app_main')}}">Accueil</a></li>
                <li>Formations</li>
            </ol>
            <h2>S'inscrire à une formation</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title pb-1">
                <h2>S'inscrire</h2>
                <p></p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-12">
                    <div class="portfolio-details pt-1">
                        <div class="portfolio-info">
                            <h3>{{training.name}}</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>
                                        {{training.description}}
                                    </p>
                                    <ul>
                                        <li><strong>Lieu de Formation</strong>: {{training.location}}</li>
                                        <li><strong>Période de formation</strong>:
                                            {{training.getStartAt | date("d")}}
                                            {{training.getStartAt | date("F") | trans}}
                                            {{training.getStartAt | date("Y")}}
                                            {% if training.getEndAt %}
                                            au {{training.getEndAt | date("d")}}
                                            {{training.getEndAt | date("F") | trans}}
                                            {{training.getEndAt | date("Y")}}
                                            {% endif %}</li>
                                        <li><strong>Pass</strong>: <a href="#" class="fw-bolder">
                                                {% if training.pass == 0 %}
                                                Gratuit
                                                {% else %}
                                                {{training.pass | format_currency('XOF')}}
                                                {% endif %}
                                            </a></li>
                                    </ul>
                                </div>

                                <div class="col-lg-6">
                                    {{form_start(trainingRequestForm)}}
                                    <div class="php-email-form p-0 shadow-none">
                                        <div class="row">
                                            <div class="col-lg-6 form-group">
                                                {{form_widget(trainingRequestForm.name)}}
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                {{form_widget(trainingRequestForm.tel)}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{form_widget(trainingRequestForm.email)}}
                                        </div>
                                        <div class="text-center"><button type="submit">S'inscrire</button></div>
                                    </div>
                                    {{form_end(trainingRequestForm)}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}